<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Spring Security Example</title>
<link th:href="@{/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav>
        <div>
            <a th:href="@{/}"><b>Home</b></a>
        </div>
        <div>
            <a th:href="@{/secure}">Secure</a>
        </div>
        <div>
            <a th:href="@{/login}">Login</a>
        </div>
        <div>
            <a th:href="@{/register}">Register</a>
        </div>
    </nav>
    <h1>Welcome!</h1>
    <p>This page has a couple pieces to bring to your attention.</p>
    <ul>
    <li>Right click and open your dev tools.</li>
    <li>Select Elements and then inspect the href links on this page.</li>
    <li>click on console and check the error.</li>
    <li>Refer back to the curriculum for explanation.</li>
    </ul>
</body>
</html>